# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: __Jhoany Rodriguez, Andre Paredes y Fabian Galarza__
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [2]:
import pandas as pd
df_neoauto = pd.read_csv('neoauto_20240924.csv')
mean_value = df_neoauto.groupby(['item_brand', 'item_category_2'], as_index=False)['value'].mean()
print(mean_value)

       item_brand item_category_2          value
0      ALFA-ROMEO       Hatchback    8500.000000
1      ALFA-ROMEO           Sedan    2500.000000
2    ASTON MARTIN  Camionetas Suv       0.000000
3    ASTON MARTIN       Deportivo       0.000000
4    ASTON MARTIN           Sedan  149900.000000
..            ...             ...            ...
197         VOLVO  Camionetas Suv   41021.219512
198         VOLVO       Deportivo    8800.000000
199         VOLVO       Hatchback   12272.500000
200         VOLVO           Sedan   10802.777778
201         VOLVO   Station Wagon    6100.000000

[202 rows x 3 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [3]:
precio_promedio_general = df_neoauto['item_price'].mean()
autos_filtro = df_neoauto[(df_neoauto['item_km'] > 100000) & (df_neoauto['item_price'] < precio_promedio_general)]
cantidad_autos = autos_filtro.shape[0]
print(cantidad_autos)

497

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [4]:
modelo_mas_caro_barato = df_neoauto.groupby('item_brand').agg(
    modelo_mas_caro=('item_name', lambda x: x[df_neoauto.loc[x.index, 'item_price'].idxmax()]),
    precio_mas_caro=('item_price', 'max'),
    modelo_mas_barato=('item_name', lambda x: x[df_neoauto.loc[x.index, 'item_price'].idxmin()]),
    precio_mas_barato=('item_price', 'min'))
print(modelo_mas_caro_barato)

                       modelo_mas_caro  precio_mas_caro  \
item_brand
ALFA-ROMEO         alfa-romeo 147 2006           8500.0
ASTON MARTIN     aston martin dbx 2021         229000.0
AUDI                    audi rs 6 2024         220000.0
AUSTIN         austin mini cooper 1970              1.0
BAIC                     baic x55 2021          12800.0
...                                ...              ...
SWM                   swm g05 pro 2022          14000.0
TOYOTA               toyota hilux 2019         100000.0
TRIUMPH              triumph tr-7 1971          18900.0
VOLKSWAGEN    volkswagen teramont 2023          48900.0
VOLVO                 volvo xc-90 2023          84990.0

                           modelo_mas_barato  precio_mas_barato
item_brand
ALFA-ROMEO           alfa-romeo alfasud 1982             2500.0
ASTON MARTIN          aston martin db11 2017           149900.0
AUDI                      audi a3 sedan 2015                0.0
AUSTIN               austin mini cooper 1970                1.0
BAIC                          baic plus 2018             7500.0
...                                      ...                ...
SWM                         swm g05 pro 2022            14000.0
TOYOTA        toyota land cruiser prado 2011                0.0
TRIUMPH                    triumph tr-7 1971            18900.0
VOLKSWAGEN              volkswagen bora 2015                0.0
VOLVO                   volvo 850 turbo 1995             2100.0

[73 rows x 4 columns]

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [5]:
marcas_top_financiadas = df_neoauto[df_neoauto['item_financed_by'] == 'Santander'].groupby('item_brand')['item_brand'].count().nlargest(3)
print("Las tres marcas con mayor número de autos financiados por Santander son:")
print(marcas_top_financiadas)

Las tres marcas con mayor número de autos financiados por Santander son:
item_brand
BMW       296
TOYOTA    261
NISSAN    228
Name: item_brand, dtype: int64

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [6]:
desvest_precio_transmision = df_neoauto.groupby('item_transmission')['item_price'].std()
print("Desviación estándar del precio por tipo de transmisión:")
print(desvest_precio_transmision)

Desviación estándar del precio por tipo de transmisión:
item_transmission
Automática                 15332.729048
Automática - Secuencial    22678.641589
Mecánica                    8137.122127
Name: item_price, dtype: float64

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [7]:
kilometraje_tags = df_neoauto[df_neoauto['item_tag'].isin(['Premium', 'Como nuevo'])].groupby('item_tag')['item_km'].mean()
print("Kilometraje promedio por tag:")
print(kilometraje_tags)

Kilometraje promedio por tag:
item_tag
Como nuevo    35963.476190
Premium       48400.235897
Name: item_km, dtype: float64

7. ¿Cuáles son las marcas de vehículos para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [ ]:
from datetime import datetime

publicaciones_validas = df_neoauto[df_neoauto['item_price'].notna()]

año_actual = 2024 # Asumimos que el año actual es 2024
año_limite = año_actual - 5

df_neoauto['item_year'] = pd.to_numeric(df_neoauto['item_year'], errors='coerce') # pasamos a numérico
                                        
autos_recientes = publicaciones_validas[publicaciones_validas['item_year'] >= año_limite]

publicaciones_por_modelo = autos_recientes.groupby(['item_brand', 'item_name']).size().reset_index(name='count') # publicaciones únicas por marca y modelo

modelos_con_mas_de_5_publicaciones = publicaciones_por_modelo[publicaciones_por_modelo['count'] >= 5]

modelos_por_marca = modelos_con_mas_de_5_publicaciones.groupby('item_brand')['item_name'].nunique().reset_index(name='num_modelos') # se agrupa por marca y se cuenta cuántos modelos cumplen el criterio

modelos_totales_recientes = autos_recientes.groupby('item_brand')['item_name'].nunique().reset_index(name='total_modelos') # se cuentan todos los modelos recientes (últimos 5 años) por marca

marcas_validas = pd.merge(modelos_por_marca, modelos_totales_recientes, on='item_brand')

marcas_finales = marcas_validas[marcas_validas['num_modelos'] == marcas_validas['total_modelos']]['item_brand'] # filtro: TODOS los modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una

print("Marcas con todos sus modelos recientes (últimos 5 años) con al menos 5 publicaciones válidas:")
print(marcas_finales.tolist()) # no existen marcas que cumplan con el requisito

Marcas con todos sus modelos recientes (últimos 5 años) con al menos 5 publicaciones válidas:
[]

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [39]:
# 1. 
# Cargar los datos
file_path = r"C:\GitHub - Q -LAB\tarea-4-rodriguez-paredes-galarza\pwt1001.xlsx"
data = pd.read_excel(file_path, sheet_name="Data")
# Calcular el PBI per cápita real PPP
data['rgdpe_pc'] = data['rgdpe'] / data['pop']
# Eliminar valores faltantes
valid_data = data.dropna(subset=['rgdpe_pc', 'year'])
# Obtener el año más reciente
latest_year = valid_data['year'].max()
# Identificar los top 10 países
top_countries = (valid_data[valid_data['year'] == latest_year]
                .nlargest(10, 'rgdpe_pc')
                [['country', 'year', 'rgdpe_pc']]
                .reset_index(drop=True))

print(f"\nTop 10 países por PBI per cápita PPP ajustado (Año {int(latest_year)}):")
print("\nRanking  País                  PBI per cápita PPP")
print("-" * 50)
for idx, row in top_countries.iterrows():
    print(f"{idx+1:<8} {row['country']:<20} {row['rgdpe_pc']:,.2f}")

Top 10 países por PBI per cápita PPP ajustado (Año 2019):

Ranking  País                  PBI per cápita PPP
--------------------------------------------------
1        Luxembourg           112,941.45
2        China, Macao SAR     105,337.89
3        Qatar                103,445.13
4        Ireland              102,353.63
5        Singapore            88,619.31
6        Bermuda              79,967.59
7        Switzerland          71,831.64
8        Cayman Islands       70,208.35
9        United Arab Emirates 69,753.22
10       Brunei Darussalam    67,555.39

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [40]:
# 2.
data_1990_2019 = valid_data[(valid_data['year'] >= 1988) & (valid_data['year'] <= 2021)]
df_changes = data_1990_2019.pivot(index='country', columns='year', values='rgdpe_pc')
df_changes['change'] = df_changes[2019] - df_changes[1990]
ranking_changes = df_changes.sort_values('change', ascending=False).reset_index()
ranking_peru = ranking_changes[ranking_changes['country'] == 'Peru'].index[0] + 1

print("Ranking de países con mayor incremento (1990-2019):")
print(ranking_changes[['country', 'change']].head(10))
print(f"\nUbicación de Perú: {ranking_peru}° lugar")

Ranking de países con mayor incremento (1990-2019):
year           country        change
0              Ireland  82726.713568
1     China, Macao SAR  78788.824158
2                Qatar  75444.868541
3            Singapore  67092.155508
4           Luxembourg  66997.038564
5              Bermuda  48231.808944
6                Malta  35968.133995
7               Norway  34098.305410
8               Kuwait  34055.592958
9         Saudi Arabia  32993.864961

Ubicación de Perú: 82° lugar

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [41]:
# 3.
data_2010_2019 = valid_data[(valid_data['year'] >= 2010) & (valid_data['year'] <= 2019)]
human_capital_avg = data_2010_2019.groupby('country')['hc'].mean().reset_index()
relation_df = data_2010_2019.groupby('country').agg({
    'rgdpe_pc': 'mean',
    'hc': 'mean',
    'avh': 'mean'
}).reset_index()
correlacion_hc_gdp = relation_df['hc'].corr(relation_df['rgdpe_pc'])
correlacion_hc_avh = relation_df['hc'].corr(relation_df['avh'])
print("Promedio del índice de capital humano por país (2010-2019):")
print(human_capital_avg.sort_values('hc', ascending=False).head(10))
print("\nCorrelaciones:")
print(f"Capital Humano - PBI per cápita: {correlacion_hc_gdp:.3f}")
print(f"Capital Humano - Horas trabajadas: {correlacion_hc_avh:.3f}")

Promedio del índice de capital humano por país (2010-2019):
            country        hc
174  United Kingdom  3.738265
149        Slovakia  3.728585
175   United States  3.725502
85           Israel  3.710212
33           Canada  3.687969
159     Switzerland  3.668683
68          Germany  3.664346
48   Czech Republic  3.655292
147       Singapore  3.634774
124          Norway  3.618757

Correlaciones:
Capital Humano - PBI per cápita: 0.598
Capital Humano - Horas trabajadas: -0.577

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [42]:
# 4.
data_sorted = data.sort_values(['country', 'year'])
data_sorted['inflation'] = data_sorted.groupby('country')['pl_con'].pct_change() * 100
data_sorted = data_sorted.replace([float('inf'), float('-inf')], float('nan'))
max_inflation = data_sorted.dropna(subset=['inflation'])
top_inflation = (max_inflation
                .sort_values('inflation', ascending=False)
                .head(10)[['country', 'year', 'inflation']]
                .reset_index(drop=True))
print("Top 10 casos de mayor inflación anual registrada:")
print("\nPaís\t\tAño\tInflación (%)")
print("-" * 40)
for _, row in top_inflation.iterrows():
    print(f"{row['country']:<15} {int(row['year'])}\t{row['inflation']:,.1f}%")

Top 10 casos de mayor inflación anual registrada:

País		Año	Inflación (%)
----------------------------------------
Venezuela (Bolivarian Republic of) 2017	360.9%
Equatorial Guinea 2002	174.8%
Zimbabwe        2005	166.3%
United Arab Emirates 1974	148.4%
Saudi Arabia    1974	146.9%
Venezuela (Bolivarian Republic of) 2016	126.3%
Lebanon         1988	116.6%
Venezuela (Bolivarian Republic of) 2015	116.1%
Brunei Darussalam 1974	113.6%
Zimbabwe        2004	110.0%

C:\Users\andre\AppData\Local\Temp\ipykernel_73676\1769680949.py:3: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data_sorted['inflation'] = data_sorted.groupby('country')['pl_con'].pct_change() * 100

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [43]:
# 5.
missing_tfp = (data
               .groupby('country')['ctfp']  # Agrupamos por país y usamos la variable ctfp
               .apply(lambda x: x.isna().sum())  # Contamos NaN
               .sort_values(ascending=False)  # Ordenamos de mayor a menor
               .reset_index(name='missing_count'))  # Reiniciamos el índice
total_years = data.groupby('country').size().reset_index(name='total_years')
missing_tfp = (missing_tfp
               .merge(total_years, on='country')
               .assign(missing_percentage = lambda x: (x.missing_count / x.total_years * 100)))
print("Países con mayor cantidad de valores faltantes en PTF:")
print("\nPaís\t\t\tValores Faltantes\tPorcentaje\tTotal Años")
print("-" * 70)
for _, row in missing_tfp.head(15).iterrows():
    print(f"{row['country']:<20} {int(row['missing_count']):<20} {row['missing_percentage']:,.1f}%\t\t{row['total_years']}")

Países con mayor cantidad de valores faltantes en PTF:

País			Valores Faltantes	Porcentaje	Total Años
----------------------------------------------------------------------
Albania              70                   100.0%		70
Algeria              70                   100.0%		70
Anguilla             70                   100.0%		70
Antigua and Barbuda  70                   100.0%		70
Bangladesh           70                   100.0%		70
Azerbaijan           70                   100.0%		70
Aruba                70                   100.0%		70
Bosnia and Herzegovina 70                   100.0%		70
Bhutan               70                   100.0%		70
Belize               70                   100.0%		70
Bahamas              70                   100.0%		70
Bermuda              70                   100.0%		70
Belarus              70                   100.0%		70
Curaçao              70                   100.0%		70
D.R. of the Congo    70                   100.0%		70

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [44]:
# 6.
data_2000_2020 = valid_data[(valid_data['year'] >= 2000) & (valid_data['year'] <= 2020)]
# Calcular promedios por país
country_averages = (data_2000_2020
                   .groupby('country')
                   .agg({
                       'avh': 'mean',  # promedio de horas trabajadas
                       'hc': 'mean',   # promedio de capital humano (educación)
                       'year': ['count', 'min', 'max']  # estadísticas de años disponibles
                   })
                   .round(2)  # redondear a 2 decimales
                   .reset_index())
# Renombrar columnas para claridad
country_averages.columns = ['country', 'avg_hours', 'avg_education', 'years_count', 'start_year', 'end_year']
# Ordenar por horas trabajadas descendente
country_averages_sorted = country_averages.sort_values('avg_hours', ascending=False)

print("\nPromedios por país (2000-2020):")
print("\nPaís                  Horas Trabajadas    Índice Educación    Periodo")
print("-" * 75)
for _, row in country_averages_sorted.iterrows():
    print(f"{row['country']:<20} {row['avg_hours']:>10,.1f}        {row['avg_education']:>8.2f}          {int(row['start_year'])}-{int(row['end_year'])}")

# Calcular algunas estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print("\nHoras trabajadas:")
print(country_averages['avg_hours'].describe().round(2))
print("\nÍndice de educación:")
print(country_averages['avg_education'].describe().round(2))

Promedios por país (2000-2020):

País                  Horas Trabajadas    Índice Educación    Periodo
---------------------------------------------------------------------------
Bangladesh              2,504.2            1.86          2000-2019
Singapore               2,451.0            3.19          2000-2019
Myanmar                 2,444.7            1.69          2000-2019
Cambodia                2,402.8            1.72          2000-2019
Thailand                2,298.8            2.53          2000-2019
Costa Rica              2,274.5            2.56          2000-2019
South Africa            2,273.6            2.49          2000-2019
China, Hong Kong SAR    2,260.1            3.09          2000-2019
Viet Nam                2,243.2            2.41          2000-2019
Malaysia                2,230.2            2.85          2000-2019
Republic of Korea       2,216.9            3.46          2000-2019
China                   2,157.7            2.48          2000-2019
Dominican Republic      2,142.6            2.43          2000-2019
Mexico                  2,122.9            2.60          2000-2019
Philippines             2,121.7            2.58          2000-2019
Peru                    2,121.5            2.73          2000-2019
India                   2,106.5            1.96          2000-2019
Taiwan                  2,104.2            3.06          2000-2019
Pakistan                2,099.0            1.75          2000-2019
Chile                   2,087.9            2.97          2000-2019
Malta                   2,073.1            2.99          2000-2019
Greece                  2,070.8            2.93          2000-2019
Poland                  2,056.8            3.23          2000-2019
Indonesia               2,031.3            2.32          2000-2019
Colombia                2,011.0            2.38          2000-2019
Russian Federation      1,982.8            3.29          2000-2019
Jamaica                 1,966.5            2.57          2000-2019
Israel                  1,950.0            3.55          2000-2019
Latvia                  1,924.7            3.01          2000-2019
Estonia                 1,913.5            3.47          2000-2019
Croatia                 1,900.2            3.23          2000-2019
Sri Lanka               1,897.7            2.88          2000-2019
Portugal                1,884.9            2.35          2000-2019
Turkey                  1,883.8            2.23          2000-2019
Lithuania               1,875.8            3.13          2000-2019
Venezuela (Bolivarian Republic of)    1,874.5            2.54          2000-2019
Cyprus                  1,855.8            2.72          2000-2019
Romania                 1,828.0            3.09          2000-2019
Ireland                 1,818.3            3.02          2000-2019
Czech Republic          1,796.8            3.63          2000-2019
Hungary                 1,793.1            3.22          2000-2019
Japan                   1,790.2            3.48          2000-2019
New Zealand             1,779.6            3.28          2000-2019
United States           1,774.4            3.68          2000-2019
Italy                   1,774.2            2.97          2000-2019
Australia               1,772.5            3.49          2000-2019
Brazil                  1,766.0            2.51          2000-2019
Slovakia                1,762.2            3.59          2000-2019
Argentina               1,732.5            2.86          2000-2019
Canada                  1,728.5            3.63          2000-2019
Spain                   1,714.9            2.80          2000-2019
Ecuador                 1,706.5            2.65          2000-2019
Austria                 1,690.8            3.26          2000-2019
Slovenia                1,672.2            3.39          2000-2019
United Kingdom          1,665.8            3.67          2000-2019
Trinidad and Tobago     1,655.6            2.96          2000-2019
Bulgaria                1,649.9            3.06          2000-2019
Finland                 1,640.8            3.32          2000-2019
Switzerland             1,630.8            3.62          2000-2019
Sweden                  1,618.3            3.32          2000-2019
Uruguay                 1,597.2            2.61          2000-2019
Belgium                 1,583.7            3.08          2000-2019
Iceland                 1,558.9            3.05          2000-2019
Luxembourg              1,538.4            3.19          2000-2019
France                  1,525.8            3.05          2000-2019
Netherlands             1,431.9            3.27          2000-2019
Denmark                 1,430.5            3.44          2000-2019
Germany                 1,423.6            3.63          2000-2019
Norway                  1,399.4            3.53          2000-2019
Albania                     nan            2.90          2000-2019
Algeria                     nan            2.08          2000-2019
Angola                      nan            1.40          2000-2019
Anguilla                    nan             nan          2000-2019
Antigua and Barbuda         nan             nan          2000-2019
Armenia                     nan            3.11          2000-2019
Aruba                       nan             nan          2000-2019
Azerbaijan                  nan             nan          2000-2019
Bahamas                     nan             nan          2000-2019
Bahrain                     nan            2.27          2000-2019
Barbados                    nan            2.79          2000-2019
Belarus                     nan             nan          2000-2019
Belize                      nan            3.26          2000-2019
Benin                       nan            1.61          2000-2019
Bermuda                     nan             nan          2000-2019
Bhutan                      nan             nan          2000-2019
Bolivia (Plurinational State of)        nan            2.72          2000-2019
Bosnia and Herzegovina        nan             nan          2000-2019
Botswana                    nan            2.71          2000-2019
British Virgin Islands        nan             nan          2000-2019
Brunei Darussalam           nan            2.70          2000-2019
Burkina Faso                nan            1.17          2000-2019
Burundi                     nan            1.30          2000-2019
Cabo Verde                  nan             nan          2000-2019
Cameroon                    nan            1.84          2000-2019
Cayman Islands              nan             nan          2000-2019
Central African Republic        nan            1.47          2000-2019
Chad                        nan             nan          2000-2019
China, Macao SAR            nan            2.55          2000-2019
Comoros                     nan             nan          2000-2019
Congo                       nan            2.02          2000-2019
Curaçao                     nan             nan          2005-2019
Côte d'Ivoire               nan            1.54          2000-2019
D.R. of the Congo           nan            1.62          2000-2019
Djibouti                    nan             nan          2000-2019
Dominica                    nan             nan          2000-2019
Egypt                       nan            2.33          2000-2019
El Salvador                 nan            2.05          2000-2019
Equatorial Guinea           nan             nan          2000-2019
Eswatini                    nan            1.76          2000-2019
Ethiopia                    nan            1.30          2000-2019
Fiji                        nan            2.58          2000-2019
Gabon                       nan            2.47          2000-2019
Gambia                      nan            1.46          2000-2019
Georgia                     nan             nan          2000-2019
Ghana                       nan            2.28          2000-2019
Grenada                     nan             nan          2000-2019
Guatemala                   nan            1.76          2000-2019
Guinea                      nan             nan          2000-2019
Guinea-Bissau               nan             nan          2000-2019
Guyana                      nan            2.58          2000-2019
Haiti                       nan            1.61          2000-2019
Honduras                    nan            2.11          2000-2019
Iran (Islamic Republic of)        nan            2.10          2000-2019
Iraq                        nan            2.13          2000-2019
Jordan                      nan            2.74          2000-2019
Kazakhstan                  nan            3.19          2000-2019
Kenya                       nan            2.15          2000-2019
Kuwait                      nan            2.16          2000-2019
Kyrgyzstan                  nan            3.16          2000-2019
Lao People's DR             nan            1.81          2000-2019
Lebanon                     nan             nan          2000-2019
Lesotho                     nan            2.00          2000-2019
Liberia                     nan            1.72          2000-2019
Madagascar                  nan            1.63          2000-2019
Malawi                      nan            1.75          2000-2019
Maldives                    nan            1.85          2000-2019
Mali                        nan            1.24          2000-2019
Mauritania                  nan            1.65          2000-2019
Mauritius                   nan            2.46          2000-2019
Mongolia                    nan            2.80          2000-2019
Montenegro                  nan             nan          2000-2019
Montserrat                  nan             nan          2000-2019
Morocco                     nan            1.74          2000-2019
Mozambique                  nan            1.18          2000-2019
Namibia                     nan            2.13          2000-2019
Nepal                       nan            1.57          2000-2019
Nicaragua                   nan            2.08          2000-2019
Niger                       nan            1.17          2000-2019
Nigeria                     nan            1.73          2000-2019
North Macedonia             nan             nan          2000-2019
Oman                        nan             nan          2000-2019
Panama                      nan            2.74          2000-2019
Paraguay                    nan            2.38          2000-2019
Qatar                       nan            2.64          2000-2019
Republic of Moldova         nan            3.09          2000-2019
Rwanda                      nan            1.60          2000-2019
Saint Kitts and Nevis        nan             nan          2000-2019
Saint Lucia                 nan             nan          2000-2019
Sao Tome and Principe        nan             nan          2000-2019
Saudi Arabia                nan            2.48          2000-2019
Senegal                     nan            1.45          2000-2019
Serbia                      nan            3.13          2000-2019
Seychelles                  nan             nan          2000-2019
Sierra Leone                nan            1.50          2000-2019
Sint Maarten (Dutch part)        nan             nan          2005-2019
St. Vincent and the Grenadines        nan             nan          2000-2019
State of Palestine          nan             nan          2000-2019
Sudan                       nan            1.51          2000-2019
Suriname                    nan             nan          2000-2019
Syrian Arab Republic        nan            2.38          2000-2019
Tajikistan                  nan            3.12          2000-2019
Togo                        nan            1.76          2000-2019
Tunisia                     nan            2.25          2000-2019
Turkmenistan                nan             nan          2000-2019
Turks and Caicos Islands        nan             nan          2000-2019
U.R. of Tanzania: Mainland        nan            1.60          2000-2019
Uganda                      nan            1.99          2000-2019
Ukraine                     nan            3.20          2000-2019
United Arab Emirates        nan            2.70          2000-2019
Uzbekistan                  nan             nan          2000-2019
Yemen                       nan            1.44          2000-2019
Zambia                      nan            2.30          2000-2019
Zimbabwe                    nan            2.39          2000-2019

Estadísticas descriptivas:

Horas trabajadas:
count      69.00
mean     1899.54
std       269.54
min      1399.43
25%      1706.46
50%      1875.76
75%      2104.15
max      2504.25
Name: avg_hours, dtype: float64

Índice de educación:
count    145.00
mean       2.51
std        0.68
min        1.17
25%        1.96
50%        2.56
75%        3.09
max        3.68
Name: avg_education, dtype: float64

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [45]:
# 7. 
# Función para calcular deciles y posición de Perú
def calcular_deciles(data, año):
    # Filtrar datos del año específico
    data_año = data[data['year'] == año].copy()
    # Calcular el porcentaje de formación bruta de capital
    data_año['fbk_percent'] = data_año['csh_i'] * 100
    # Ordenar países y asignar deciles (1-10)
    data_año['decil'] = pd.qcut(data_año['fbk_percent'], q=10, labels=range(1,11))
    # Obtener posición de Perú
    peru_data = data_año[data_año['country'] == 'Peru']
    # Ordenar países por porcentaje para ver ranking completo
    ranking = data_año.sort_values('fbk_percent', ascending=False)
    return peru_data, ranking
# Calcular para 2019
peru_2019, ranking_2019 = calcular_deciles(valid_data, 2019)
# Calcular para 1990
peru_1990, ranking_1990 = calcular_deciles(valid_data, 1990)

print("Análisis de Formación Bruta de Capital:")
print("\nAño 2019:")
print(f"Perú se ubica en el decil: {peru_2019['decil'].iloc[0]}")
print(f"Porcentaje de FBK: {peru_2019['fbk_percent'].iloc[0]:.2f}%")

print("\nAño 1990:")
print(f"Perú se ubica en el decil: {peru_1990['decil'].iloc[0]}")
print(f"Porcentaje de FBK: {peru_1990['fbk_percent'].iloc[0]:.2f}%")

# Mostrar rankings completos
print("\nRanking 2019 (Top 10):")
print(ranking_2019[['country', 'fbk_percent', 'decil']].head(10))

print("\nRanking 1990 (Top 10):")
print(ranking_1990[['country', 'fbk_percent', 'decil']].head(10))

# Mostrar cambio en la posición relativa
cambio = peru_2019['decil'].iloc[0] - peru_1990['decil'].iloc[0]
print(f"\nCambio en la posición de Perú:")
if cambio == 0:
    print("Perú se mantiene en el mismo decil")
elif cambio > 0:
    print(f"Perú subió {abs(cambio)} deciles")
else:
    print(f"Perú bajó {abs(cambio)} deciles")

# Decil de Perú cambia de 5 con un FBK de 20.54% (usando la data de 2019) a 4 con FBK de 13.81% (usando la data de 1990)

Análisis de Formación Bruta de Capital:

Año 2019:
Perú se ubica en el decil: 5
Porcentaje de FBK: 20.54%

Año 1990:
Perú se ubica en el decil: 4
Porcentaje de FBK: 13.81%

Ranking 2019 (Top 10):
                     country  fbk_percent decil
3359                Djibouti    61.674356    10
5599                 Ireland    56.986171    10
9799                   Qatar    52.501243    10
7629                Maldives    46.812493    10
2379                   China    45.416850    10
559      Antigua and Barbuda    38.460764    10
10639               Suriname    37.708008    10
9029                   Nepal    37.038395    10
6509   Saint Kitts and Nevis    36.736861    10
909                  Belgium    36.046380    10

Ranking 1990 (Top 10):
                  country  fbk_percent decil
8300           Montserrat    90.983945    10
2840           Cabo Verde    53.309292    10
180              Anguilla    51.563358    10
10260           Singapore    45.070469    10
11030          Seychelles    44.029364    10
6200           Kazakhstan    42.897660    10
9910   Russian Federation    41.730469    10
9700   State of Palestine    40.988883    10
2210          Switzerland    40.561926    10
6550    Republic of Korea    40.553513    10

Cambio en la posición de Perú:
Perú subió 1 deciles

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [14]:

import pandas as pd

#Importamos la base de datos "Base financiera" en formato CSV desde el terminal local:
data_base = "C:\GitHub - Q -LAB\tarea-4-rodriguez-paredes-galarza\base_financiera.csv"

# Guardamos la Base de datos en una variable con Pandas.
data = pd.read_csv('base_financiera.csv')

# Filtramos las transacciones de tipo "Debit" con monto amyores a 200
filtered_data = data[(data['Transaction_Type'] == 'Debit') & (data['Amount'] > 200)]

# Calculamos el número total de variaciones en los datos filtrados
total_amount = filtered_data['Amount'].sum()

# Determinamos el número de clientes únicos
unique_customers = filtered_data['Customer_ID'].nunique()

# Resultados
print(f"Monto total de transacciones: {total_amount}")
print(f"Número de clientes únicos: {unique_customers}")

Monto total de transacciones: 2847871.75
Número de clientes únicos: 200

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [17]:
import pandas as pd

#Importamos la base de datos "Base financiera" en formato CSV desde el terminal local:
data_base = r"C:\GitHub - Q -LAB\tarea-4-rodriguez-paredes-galarza\base_financiera.csv"
# Cargamos la base de datos desde el archivo CSV
data = pd.read_csv(data_base)

# Identificamos transacciones con valores nulos en la columna "Amount":
missing_values = data[data['Amount'].isnull()]
print("Transacciones con valores nulos en 'Amount':")
print(missing_values)

# Calculamos la mediana del monto por tipo de transacción:
medians_by_type = data.groupby('Transaction_Type')['Amount'].median()

# Rellenamos valores nulos con la mediana:
data['Amount'] = data.apply(
    lambda row: medians_by_type[row['Transaction_Type']] if pd.isnull(row['Amount']) else row['Amount'], axis=1
)

# Verificamos que no hay valores nulos:
print("\nValores nulos después de rellenar:")
print(data['Amount'].isnull().sum())

# Calculamos el monto total de transacciones por región:
total_by_region = data.groupby('Region')['Amount'].sum()

# Mostrar resultados:
print("\nMonto total de transacciones por región:")
print(total_by_region)

Transacciones con valores nulos en 'Amount':
      Transaction_ID Customer_ID        Date  Amount Transaction_Type Region
34              1035        C043  2023-02-04     NaN            Debit   East
40              1041        C051  2023-01-01     NaN           Credit   West
60              1061        C086  2023-01-21     NaN            Debit   East
66              1067        C179  2023-01-27     NaN           Credit   East
82              1083        C076  2023-01-03     NaN            Debit  South
...              ...         ...         ...     ...              ...    ...
1944            2945        C134  2023-01-25     NaN           Credit   West
1967            2968        C150  2023-01-08     NaN            Debit  South
2015            1276        C047  2023-02-05     NaN           Credit   West
2018            2647        C068  2023-01-07     NaN            Debit  North
2023            2084        C123  2023-01-04     NaN            Debit   East

[113 rows x 6 columns]

Valores nulos después de rellenar:
0

Monto total de transacciones por región:
Region
East     1269409.53
North    1321224.96
South    1208300.23
West     1233552.50
Name: Amount, dtype: float64

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [18]:
import pandas as pd

data_base = r"C:\GitHub - Q -LAB\tarea-4-rodriguez-paredes-galarza\base_financiera.csv"

data = pd.read_csv(data_base)

# Buscamos transacciones duplicadas considerando las columnas "Customer_ID" y "Date"
duplicates = data.duplicated(subset=['Customer_ID', 'Date'], keep='first')
print(f"Número de transacciones duplicadas: {duplicates.sum()}")

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
data_cleaned = data.drop_duplicates(subset=['Customer_ID', 'Date'], keep='first')

# Agrupamos por "Customer_ID" y calculamos monto promedio y cantidad de transacciones por cliente
grouped_data = data_cleaned.groupby('Customer_ID').agg(
    Average_Amount=('Amount', 'mean'),
    Transaction_Count=('Transaction_ID', 'count')
).reset_index()

# Mostramos resultados
print("\nDatos agrupados por cliente:")
print(grouped_data)

# COMO ADICONAL: Guardamos la base de datos "limpiada" (con los cambios):
grouped_data.to_csv(r"C:\GitHub - Q -LAB\tarea-4-rodriguez-paredes-galarza\resultados_por_cliente.csv", index=False)

Número de transacciones duplicadas: 234

Datos agrupados por cliente:
    Customer_ID  Average_Amount  Transaction_Count
0          C001     3334.711875                 17
1          C002     1881.827778                  9
2          C003     3102.125000                 14
3          C004     3053.882000                  7
4          C005     3364.053333                  6
..          ...             ...                ...
195        C196     2566.555000                 10
196        C197     2530.674286                 14
197        C198     2484.925000                 12
198        C199     3062.287500                  5
199        C200     2130.977500                  5

[200 rows x 3 columns]